/* You can add global styles to this file, and also import other style files */
$primaryColor: rgb(11, 72, 80);
body{
    height: 100vh;
    margin: 0;
    header{
        height: 5em;
        background: $primaryColor;
        color: #fff;
        padding: 10px;
        .header-title{
            padding: 0;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            color: $primaryColor;
            background-color: #fff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            right:0;
            span{
                padding-left: 5px;
            }
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
    }
    
    footer{
        height: 1.5em;
        background: #eee;
    }
    
    .main-container{
        height: calc(100vh - 6.5em);
        overflow: hidden;
        .login-container, .register-container{
            .abs-center{
                margin: auto;
                position: absolute;
                top: 5em; 
                left: 0; 
                bottom: 0; 
                right: 0;
                width: 50%; 
                height: max-content;
                min-width: 200px;
                max-width: 400px;
                border: 1px solid $primaryColor;
                border-radius: 10px;
                .form-header{
                    height: 50px;
                    color: #fff;
                    text-align: center;
                    background: $primaryColor;
                    border-radius: 10px 10px 0 0;
                    padding: 10px;
                    font-weight: bold;
                }
                .form-container{
                    padding: 15px;
                    .form-group{
                        .error-msg{
                            color: #a00808
                        }
                    } 
                }
                .form-footer{
                    padding: 15px;
                }
            }
        }
        .chat-container{
            height: 100%;
            ul{
                height: 100%;
                overflow: auto;
                list-style: none;
                padding: 0;
                background: #eaeaea;
                li{
                    padding: 5px;
                    background: #eee;
                    cursor: pointer;
                    img{
                        margin-right: 5px;
                    }
                    .name{
                        font-weight: bold;
                        color: $primaryColor;
                        padding: 2px;
                        font-size: .8em;
                    }
                    .email{
                        font-size: .6em;
                    }
                }
                .active{
                    background: $primaryColor;
                    color: #fff;
                    .name{
                        color: #fff;
                    }
                }
                
            }
            .message-main{
                height: 100%;
                overflow: hidden;
                .message-scroll{
                    height: 90%;
                    overflow: auto;
                    .messages-container{
                        display: table;
                        width: 100%;
                        height: 100%;
                        .message-list-container{
                            display: table-cell;
                            vertical-align: bottom;
                            padding: 15px;
                            p{
                                padding: 10px;
                                border: 1px solid $primaryColor;
                                border-radius: 10px;
                                font-size: .8em;
                                color: $primaryColor;
                                display: block;
                                clear:both;
                                float: left;
                                word-break: break-all;
                                max-width: 80%;
                                .delivered{
                                    color: green;
                                }
                                .read{
                                    color: blue;
                                }
                            }
                            .to-message{
                                float: right;
                                background: $primaryColor;
                                color: #fff;
                            }
                            
                        }
                    }
                }
            }
            .message-container{
                height: 10%;
               
            }
        }
    }
}

